In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("data.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

there are few things to notice here there are nan values and also my home price depends on more than one factor not just one

bedrooms for row 2 we have empty so we wanna replace that value by some meaningful assumed data ->median of all the bedrooms

this is called data cleaning and understanding data correctly

In [5]:
import math
median_bedrooms=math.floor(df.bedrooms.median())
median_bedrooms

4

In [7]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms) # fill nan

In [8]:
reg=linear_model.LinearRegression()

In [11]:
reg.fit(df[['area','bedrooms','age']],df.price)
# df[['area','bedrooms','age']] -> features or independent variables
# df.price is target variable

LinearRegression()

In [12]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [13]:
reg.intercept_

221323.00186540425

In [14]:
reg.predict([['3000','3','40']])

/Users/nandan/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/Users/nandan/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

array([498408.25158031])