In [41]:
import pandas as pd 
df = pd.read_csv("data.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

we are concerned of pclass,sex,age,fare as our inputs and survived as our target

In [42]:
inputs = df[['Pclass','Sex','Age','Fare']]
target= df['Survived']

In [43]:
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [44]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [45]:
import math
avg_age=math.floor(inputs.Age.mean())
avg_age

29

In [55]:
inputs.Age = inputs.Age.fillna(avg_age) # fill nan

In [56]:
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()
inputs['Sex_n']=le_sex.fit_transform(inputs['Sex'])
inputs=inputs.drop('Sex',axis="columns")
inputs

KeyError: 'Sex'

the important thing to understand here is why r we applying decision tree classification technique

In [57]:
from sklearn.model_selection import train_test_split

In [63]:
X_train, X_test, y_train, y_test  = train_test_split(inputs,target,test_size=0.25)

In [64]:
X_train

     Pclass   Age     Fare  Sex_n
20        2  35.0  26.0000      1
79        3  30.0  12.4750      0
661       3  40.0   7.2250      1
632       1  32.0  30.5000      1
70        2  32.0  10.5000      1
..      ...   ...      ...    ...
851       3  74.0   7.7750      1
40        3  40.0   9.4750      0
436       3  21.0  34.3750      0
511       3  29.0   8.0500      1
836       3  21.0   8.6625      1

[668 rows x 4 columns]

In [65]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [66]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [67]:
model.score(X_test,y_test)

0.8026905829596412